<%= simple_form_for @grade, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :student_registration_id %>
  <%= f.input :report_card_id %>
  <%= f.input :value %>
  <%= f.input :subject_id %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                grades_path, :class => 'btn' %>
  </div>
<% end %>
