<p>
Dear <%=@name %>
</p>
<p>
This message is regarding the <strong><%=@term%></strong> report card for <strong><%=@student%></strong>
</p>
<p>
<%=raw @message%>
</p>

<p><%=link_to "Please login to our homepage to upload report cards", login_url%><p>
