<%= simple_form_for(@season) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :description %>
    <%= f.input :beg_date %>
    <%= f.input :end_date %>
    <%= f.input :fall_registration_open %>
    <%= f.input :spring_registration_open %>
    <%= f.input :open_enrollment_date %>
    <%= f.input :status %>
    <%= f.input :current %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
