<%= simple_form_for [:mgr, @workshop_enrollment], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.association :workshop, :collection => @workshops %>
  <%= f.association :aep_registration, :collection => @aep_registrations.map{|r|[r.student_name, r.id]}.sort{|o|o.student_name} %>
  <%# f.input :status_cd %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                mgr_workshop_enrollments_path, :class => 'btn' %>
  </div>
<% end %>
