<%- model_class = WorkshopEnrollment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped ">
  <thead>
    <tr>
      <th>Workshop</th>
      <th>Student</th>
      <th>Grade</th>
      <th>Enrollment Date</th>
      <th>Notes</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @workshop_enrollments.each do |we| %>
      <% if we.student  %>
      <tr>
        <td><%= link_to we.workshop_name,  workshop_path(we.workshop_id) %></td>
        <td><%= link_to we.student_name, aep_registration_path(we.aep_registration_id) %></td>
        <td><%=we.grade%></td>
        <td><%=format_date we.created_at %></td>
        <td><%= we.status_cd %></td>
        <td></td>
        <td>
          <%= link_to "Reject",
                      mgr_workshop_enrollment_path(we, status: WorkshopEnrollment.statuses(:denied)),
                      :method => :delete,
                      :data => { :confirm => 'Are you sure?' },
                      :class => 'btn btn-mini btn-danger' %>
          <%= link_to "Approve",
            mgr_workshop_enrollment_path(we, status: WorkshopEnrollment.statuses(:approved)),
                      :method => :put,
                      :class => 'btn btn-mini btn-primary' if we.pending? %>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_mgr_workshop_enrollment_path,
            :class => 'btn btn-primary' %>
