

<%= simple_form_for(@student, :html => { :class => 'form-horizontal' }) do |f| %>

  <%=f.input :first_name, :input_html => {:id => "first_name"},  :hint => "Just first name (no nickname, middle name or initial, jr. III, etc.)" %>
<%=f.input :last_name , :input_html => {:id => "last_name"}%>
<%=f.input :gender, :as => :radio_buttons, :collection =>[["Male", 'M'], ["Female","F"]] , :input_html => {:id => "gender"} %>
<%=f.input :dob, :end_year => Time.now.year-8, :start_year => Time.now.year-22, :include_blank => true%>
<%= f.input :ethnicity, :collection =>Student::ETHNICITY, :input_html => {:id => "ethnic"}, :label => "Ethnicity" %>
<%=f.simple_fields_for :student_registrations, @student.current_registration do |s| %>
  <%= s.input :school, :input_html => {:id => "school"}%>
<%= s.input :grade,  :input_html => {:id => "grade", :min  => 4, :max=> 12}%>
<%= s.input :size_cd, :collection =>StudentRegistration.sizes_for_select(:value) , :input_html => {:id => "size"}, :label => "Size" %>
<%= s.input :medical_notes,  :input_html => {:id => "medical_notes",:rows => 5}%>
<%= s.input :academic_notes, :input_html => {:id => "academic_notes", :rows => 5 }%>
<%= s.input :academic_assistance , :input_html => {:id => "academic_assistance"}%>
<%end%>


<div class="form-actions">
  <%= f.button :submit, :id =>"submit", :class => "btn btn-primary btn-large" %>
  <%= link_to 'Cancel', students_path,  :class => "btn btn-large"%>
</div>
<% end %>
