<%=content_for :page_hdr do%>
 Manage Students
<%end%>

<div class="card card-secondary">
  <div class="card-header">
    <h3 class="card-title"> Registration History</h3>
  </div>
  <div class="card-body table-responsive p-0">
    <table class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Current Status</th>
        <th>Last Confirmed</th>
        <th></th>
      </tr>

      <% @students.each do |student| %>
        <tr>
          <td><%= link_to student.name, student_path(student) %></td>
          <td><%= student.registration_status %></td>
          <td><%= student.student_registrations.last_confirmed.term %></td>
          <td><%= link_to 'Edit Info', edit_student_path(student) %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="card-footer">
    <%= link_to 'New Student', new_student_path, class:"btn btn-info" %>
    <a class="btn btn-default float-right" href="/dashboard">Cancel</a>
  </div>
</div>

