<%content_for :page_hdr do%>
 Student Profile
<%end%>

<div class="card card-widget widget-user-2">
  <!-- Add the bg color to the header using any of the bg-* classes -->
  <div class="widget-user-header bg-primary">
    <div class="widget-user-image">
      <%#image_tag "user-place-holder-128x128.png", class:"img-circle elevation-2"%> 
      <%=image_tag student_image(@student), class:"img-circle elevation-2"%> 
    </div>
    <!-- /.widget-user-image -->
    <h3 class="widget-user-username"> <%=@student.name%></h3>
    <%=link_to "Edit Info", edit_student_path(@student)%>
  </div>
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table">
        <tbody><tr>
            <th >Birthdate:</th>
            <td><%= @student.dob %></td>
          </tr>
          <tr>
            <th>Gender</th>
            <td><%=@student.gender%></td>
          </tr>
          <tr>
            <th>Status:</th>
            <td> <%=@student.registration_status%>
            </td>
          </tr>
        </tbody>
      </table>
    </div> 
  </div>
</div>

<div class="card card-info">

  <div class="card-header  ">
    <h3 class="card-title float-left">Current Registration </h3>
    <span class="float-right"> <%=Season.current.description%></span>
  </div>
  </div>
  <div class="card-body  p-0">
    <div class="table-responsive">
      <table class="table">
        <tbody><tr>
            <th >School:</th>
            <td><%= @student.school %></td>
          </tr>
          <tr>
            <th>Grade</th>
            <td><%=@student.grade%></td>
          </tr>
          <tr>
            <th>Size:</th>
            <td><%= @student.size %></td>
          </tr>
          <tr>
            <th>Attendance:</th>
            <td><%= @student.attendance_count %></td>
          </tr>
          <tr>
            <th>Medical notes:</th>
            <td><%=@student.medical_notes%></td>
          </tr></tbody>
      </table>
    </div> 
  </div>
  <div class="card-footer">

    <%if @student.currently_registered?%>

      <%= link_to 'Withdraw From Current Season', new_student_registration_path, class:"btn btn-info" %>
    <%else%>
      <%= link_to 'Enroll Now', new_student_registration_path(student_id: @student), class:"btn btn-info" %>
    <%end%>

      <a class="btn btn-default float-right" href="/dashboard">Cancel</a>
    </div>
</div>
