<h1 class="">
  <%=@student.name%>
</h1>

<p>
<span class="form-label">Dob:</span>
<span class="reg-data"><%= @student.dob %></span>
</p>

<p>
<span class="form-label">Gender:</span>
<span class="reg-data"><%= @student.gender %></span>
</p>

<% if @student_registration %></span>
<p>
<span class="form-label">School:</span>
<span class="reg-data"><%= @student_registration.school %></span>
</p>

<p>
<span class="form-label">Grade:</span>
<span class="reg-data"><%= @student_registration.grade %></span>
</p>

<p>
<span class="form-label">Size:</span>
<span class="reg-data"><%= @student_registration.size %></span>
</p>

<p>
<span class="form-label">Medical notes:</span>
<span class="reg-data"><%= @student_registration.medical_notes %></span>
</p>
<% end %>
<span class="form-label">Current Registration Status:</span>
<span class="reg-data"><%=@student.registration_status%></span>

<% unless @student.currently_registered?  %>
  <%=link_to "Register for #{current_season.description}", new_student_registration_path(:student_id=> @student.id), :id => "new_registration" %>
<% end %>
<div class="button-actions">
  <%= link_to 'Edit', edit_student_path(@student) , :class=>"btn btn-primary"%> 
  <%= link_to 'Back', parent_root_path,  :class=>"btn "%>
</div>
