<%content_for :page_header do %>
		<h1><%=@student.name%></h1>
<%end%>
<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-2">
				<div class="thumbnail">
					<%=image_tag(@student.avatar_url(:thumb)) %> 
				</div> 
				<div id="direct_uploader">
					<%= direct_upload_form_for @uploader, :html =>{:class => "upload_form"} do |f| %>
						<%= f.file_field :avatar, :class=>"file-chooser",  :id=>"student_avatar" %>
					<% end %>
				</div>
				<a href="#" class="file-chooser-proxy" data-target="#student_avatar">Change Image</a>
				<br>
			</div>
			<div class="col-md-4 col-sm-12">
				<table width="100%">
					<tbody>
					<tr>
						<th>Date of Birth</th><td><%= @student.dob %></td>
					</tr>
					<tr>
						<th>Gender</th>
						<td ><%= @student.gender %></td>
					</tr>

					<% if @student_registration %>
						<tr>
							<th >School</th>
							<td ><%= @student_registration.school %></td>
						</tr>

						<tr>
							<th >Grade</th>
							<td ><%= @student_registration.grade %></td>
						</tr>

						<tr>
							<th >Size</th>
							<td ><%= @student_registration.size %></td>
						</tr>

						<tr>
							<th>Enrolled In AEP?</th>
							<td><%@student.currently_in_aep?%></td>
						</tr>
						<tr>
							<th >Medical notes</th>
							<td ><%= @student_registration.medical_notes %></td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
			<div class="col-md-3 col-sidebar-right">
				<div class="list-group">
					<%=link_to edit_student_path(@student) , :class=>"list-group-item" do%> 
						<i class="fa fa-pencil"></i>
						&nbsp;&nbsp;<strong>Edit</strong>
					<%end%>

					<% if !@student.currently_registered? && can_register?(@student) %>
						<%=link_to new_student_registration_path(:student_id=> @student.id), :id => "new_registration", :class=>"list-group-item" do %>
							<i class="fa fa-print"></i>
							&nbsp;&nbsp;<strong><%="Register for #{current_season.description}"%></strong> 
						<%end%>
					<% end %>

					<% if @student.currently_registered? %>
						<%=link_to  new_report_card_path, :class=>"list-group-item" do%>
							<i class="fa fa-print"></i>
							&nbsp;&nbsp;<strong>Add Report cards</strong>	
						<%end%>
					<%end%>

					<%if @student.aep_eligible?%>
						<%= link_to new_aep_registration_path(:student_id =>@student.id) , :class=>"list-group-item" do%> 
							<i class="fa fa-print"></i></i>	&nbsp;&nbsp;<strong>Register for AEP</strong>	
					<%end%>
				<%end%>

				<% if @student.fully_enrolled? %>
					<%=link_to confirmation_student_registration_path( @student.current_registration.id), {class:"list-group-item", id:"receipt"} do%>
						<i class="fa fa-print"></i>	&nbsp;&nbsp;<strong>Vew Registration Forms</strong>
					<%end%>
				<% end %>
			</div>
		</div>
	</div>
</div>

