<%= simple_form_for([:mgr, @year_end_report], :html => { :class => 'form-horizontal report' }) do |f|%>

<div class="row">
  <%=f.association :tutoring_assignment, collection: mgr_assignments_for_select(@assignments), label: "Student", input_html:{class: "jqSelect"}%>
  <%=render partial: "shared/year_end_report_shared_fields", locals:{f:f}%>
</div>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary', :id=>"save" %>
    <%= link_to "Cancel",
                mgr_year_end_reports_path, :class => 'btn' %>
  </div>
<% end %>
