<div class="page-header">
  <h1>Year End Reports</h1>
</div>
<table class="dtable table table-striped">
  <thead>
    <tr>
      <th>Season</th>
      <th>Student</th>
      <th>Confirmed</th>
      <th>Date Submitted</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @year_end_reports.each do |rep| %>
      <tr>
        <td><%=link_to(rep.term, mgr_year_end_report_path(rep)) %></td>
        <td><%= rep.student_name %></td>
        <td><%= yesno(rep.confirmed) %></td>
        <td><%=submission_date(rep) %></td>
        <td><%report_collection_links(rep)%> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%=new_resource_link%>

