<h1 class="text-center">Current Season Stats</h1>
<div class="dashboard-row">

  <section class="dashboard-cell">
    <table>
      <thead>
        <tr>
          <th>Stat</th><th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Enrolled</td><td><%= StudentRegistration.confirmed_students_count%></td>
        </tr>
        <tr>
          <td>Enrolled AEP</td><td><%= StudentRegistration.in_aep_count%></td>
        </tr>
        <tr>
          <td>Wait list</td><td><%= StudentRegistration.current_wait_listed_count%></td>
        </tr>
        <tr>
          <td>Sessions To Date</td><td><%= Season.current.attendance_sheets.count%></td>
        </tr>
      </tbody>
    </table>


    <%=column_chart(
       [{name: "Present", data: Season.current.attendees_history},
  {name: "Absent", data: Season.current.absentees_history}],
       title: "Attendance", legend: "bottom", download: true, code: true)%>


  </section>
</div>
