<%= simple_form_for resource, :html => { :class => 'form-horizontal' } do |f| %>
<%= f.association :student_registration, collection: @student_registrations.map{|s|[s.student_name, s.id]}  %>
<%= f.input :marking_period, collection: MarkingPeriod.all.map{|m|[m.name, m.id]} %>
  <%= f.input :format_cd %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                mgr_report_cards_path, :class => 'btn' %>
  </div>
<% end %>
