<div class="page-header">
  <h1>Report Cards</h1>
  <h3>Academic Year: <%=@year%></h3>
</div>

<div class="row">
  <div class="span6 ">
    <%=form_tag mgr_report_cards_path , class: 'form-inline', method: :get do %>
    <%=label_tag "View for different school year"%>
		<%=select_tag :academic_year, options_from_collection_for_select(Season.by_season, :term, :term, selected: @year), class:"season-change"%>
    <%end%>
  </div>
  <div class="span6 ">
    <%=form_tag new_mgr_report_card_path , class: 'form-inline', method: :get do %>
      <span>Add a report card (pwf participation year)</span>
    <%=select_tag :season_id, options_from_collection_for_select(Season.by_season, :id, :term, selected: @year), class:"season-change"%>
    <%=submit_tag "Go", class: "btn btn-mini" %>
  <%end%> 
  </div>

  <div class="span5">
		<h5 class="hidden" id="loading_report_cards">Loading report cards. Please wait ....</h5>
  </div>
</div>
<table class="dtable table table-striped">
  <thead>
    <tr>
      <th>Name </th>
      <th>Marking Period</th>
      <th>Transcript</th>
      <th>Academic Year</th>
      <th>Date Create</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @report_cards.each do |report_card| %>
      <tr>
        <td><%= report_card.student_name %></td>
        <td><%= link_to report_card.marking_period_name, resource_path(report_card) %></td>
        <td><%= link_to image_tag("report_card.jpeg"), report_card.transcript.to_s if report_card.transcript.url%></td>
        <td><%=report_card.term%></td>
        <td><%=format_date report_card.created_at %></td>
        <td>
          <%= link_to "Edit", edit_mgr_report_card_path(report_card), :class => 'btn btn-mini' %>
          <%= link_to "Delete", mgr_report_card_path(report_card),
                      :method => :delete,
                      :data => { :confirm => 'Are you sure?' },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
