<%= simple_form_for(@student_registration, :html => { :class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :school , :input_html => {:id => "school"}%>
    <%= f.input :grade, :input_html => {:min  => 4, :max=> 12}, :input_html => {:id => "grade"}%>
    <%= f.input :size_cd, :collection =>StudentRegistration.sizes_for_select(:value) , :input_html => {:id => "size"}, :label => "Size" %>
    <%= f.input :medical_notes, :input_html => {:rows => 5} , :input_html => {:id => "medical_notes"}%>
    <%= f.input :academic_notes, :input_html => {:rows => 5} , :input_html => {:id => "academic_notes"}%>
    <%= f.input :academic_assistance , :input_html => {:id => "academic_assistance"}%>
    <%= f.input :student_id, :as => :hidden, :input_html =>{:value => @student_registration.student.id}%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :id => "submit", :class=> "btn btn-primary btn-large" %>
  </div>
<% end %>
