<p id="notice"><%= notice %></p>

<p>
  <b>Season:</b>
  <%= @student_registration.season %>
</p>

<p>
  <b>School:</b>
  <%= @student_registration.school %>
</p>

<p>
  <b>Grade:</b>
  <%= @student_registration.grade %>
</p>

<p>
  <b>Size:</b>
  <%= @student_registration.size %>
</p>

<p>
  <b>Medical notes:</b>
  <%= @student_registration.medical_notes %>
</p>

<p>
  <b>Academic notes:</b>
  <%= @student_registration.academic_notes %>
</p>

<p>
  <b>Academic assistance:</b>
  <%= @student_registration.academic_assistance %>
</p>


<%= link_to 'Edit', edit_student_registration_path(@student_registration) %> |
<%= link_to 'Back', student_registrations_path %>
