<%= simple_form_for @session_report, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :tutor_id %>
  <%= f.input :aep_registration_id %>
  <%= f.input :student_registration_id %>
  <%= f.input :session_date %>
  <%= f.input :worked_on_cd %>
  <%= f.input :worked_on_other %>
  <%= f.input :preparation_cd %>
  <%= f.input :participation_cd %>
  <%= f.input :comprehension_cd %>
  <%= f.input :motivation_cd %>
  <%= f.input :comments %>
  <%= f.input :confirmed %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                mgr_session_reports_path, :class => 'btn' %>
  </div>
<% end %>
