<div class="page-header">
  <h1>Session Reports</h1>
</div>
<table class="dtable table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Session Date</th>
      <th>Tutor</th>
      <th>Student</th>
      <th>Confirmed</th>
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
    <% @session_reports.each do |session_report| %>
      <tr>
        <td><%= link_to session_report.name, mgr_session_report_path(session_report) %></td>
        <td><%= format_date(session_report.session_date) %></td>
        <td><%= session_report.tutor_name %></td>
        <td><%= session_report.student_name %></td>
        <td><%= yesno session_report.confirmed %></td>
        <td><%= session_report.comments %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_mgr_session_report_path,
            :class => 'btn btn-primary' %>
