<%= simple_form_for(@tutor, :as => :tutor, :html => { :class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>
<div class = "form-inputs">
  <%=f.fields_for :user do|ff|%>
    <%=render "shared/contact",  :form => f %>
<%end%>
<%=f.input :occupation %>
  <div class="form-actions">
    <%= f.button :submit, "Save", :class => "btn btn-primary btn-large"%>
  </div>
<% end %>
</div>
