<%=text_field_tag "filter" %>
<%= form_for @attendance_sheet, html: {id: "attendance_sheet_form"}  do |sheet| %>
  <div class="attendance-form">
  <%count = 0%>

  <%=sheet.fields_for :attendances  do |attendance|  %>
    <%= attendance.hidden_field :session_date %>
    <%=attendance.label :attended, "#{count+=1} #{attendance.object.student_registration.student_name}", :class=> "attendance", "data-db-id" => attendance.object.id %>
    <%=attendance.check_box :attended , :"data-db-id" => attendance.object.id%>
<%end%>
</div>

  <% end %>
