
<%= simple_form_for @report_card, :html => { :class => 'form-horizontal', id: "report_card_form", :novalidate=>"novalidate"  } do |f| %>
  <%#f.association :student_registration, collection: @student_registrations.map{|r| [r.student_name, r.id]},:selected => @selected, label: "Student" %>
  <%=f.hidden_field :student_registration_id, value: @student_registration.id %>
  <%= f.input :academic_year, collection: Season.all.map(&:term)%>
  <%= f.input :marking_period, collection: MarkingPeriod.all.map{|m|[ m.name, m.id ]} %>
  <%# f.input :format_cd, collection: GradeRanger.for_select, label: "Grade Scale", input_html: {id:"grade_scale",  :"data-validation-list" => GradeRanger.validations_list}%>
  <div class="row">
    <%# render :partial => 'shared/grade_table', locals: {f: f} %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      report_cards_path, :class => 'btn' %>
  </div>
  <% end %>
