<div class="row">
  <!-- left column -->
  <div class="col-md-6">
    <%= simple_form_for @report_card, :html => { :class => 'form-horizontal', id: "report_card_form", :novalidate=>"novalidate"  } do |f| %>
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Report Card</h3>
        </div>
        <div class="card-body">
          <div class="form-group">
            <%=f.association :student_registration, collection: @student_registrations.map{|r| [r.student_name, r.id]},:selected => @selected, label: "Student" %>
          </div>
          <div class="form-group">
            <%= f.input :academic_year, collection: Season.all.map(&:term)%>
          </div>
          <div class="form-group">
            <%= f.input :marking_period, collection: MarkingPeriod.all.map{|m|[ m.name, m.id ]} %>
          </div>

          <div class="form-group">
            <label for="report_card_transcript">File input</label>
            <div class="input-group-append">
              <div class="custom-file">
                <%= f.file_field :transcript, direct_upload: true%>
                <label class="custom-file-label" for="report_card_transcript">Choose file</label>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <%= f.button :submit, :class => 'btn btn-primary' %>
          <%= link_to "Cancel", report_cards_path, :class => 'btn btn-default float-right' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

