<%= simple_form_for @report_card, :html => { multipart: true, class: 'form-horizontal', id: "report_card_form", :novalidate=>"novalidate"} do |f| %>
  <div class="row">
    <!-- left column -->

    <div class="col-sm-12 col-md-5">
      <div class="card card-secondary">
        <div class="card-header">
          <h3 class="card-title"><%=@report_card.student_name%></h3>
        </div>
        <div class="card-body">
          <%=f.error_notification message: "Please fix the errors listed below", class: "disabled"%>
          <%=f.hidden_field :student_registration_id, value: @report_card.student_registration.id %>
          <%=f.hidden_field :academic_year, value: @report_card.student_registration.term %>
          <%= f.input :marking_period, collection: MarkingPeriod.simple_periods{|m|[ m.name, m.id ]}, prompt: "Choose marking period" %>
          <%= f.input :transcript_pages, as: :file, label:"Transcript", direct_upload: true, input_html: {multiple: true, accept: "image/png,image/jpeg,application/pdf"}%>


          <%unless @report_card.new_record?%>
            <div class="m-2 p-2 text-sm">
              <b>Existing Transcript</b>
              <ul class="list-group list-group-unbordered mb-3 text-info">
                <li class="list-group-item">
                  <b>Date uploaded</b> <a class="float-right"><%=@report_card.transcript.created_at%></a>
                </li>
              </ul>
            </div>
          <%end%>
        </div>
        <div class="card-footer">
          <%= f.button :submit, "Submit", :class => 'btn btn-primary' %>
          <%= link_to "Cancel", report_cards_path, :class => 'btn btn-default float-right' %>
        </div>
      </div>

    </div>

  </div>

<% end %>
