<%content_for :page_hdr do%>
  Mange Report Cards
<%end%>
<div class="row">
  <div class="col-9">
    <div class="card card-secondary">
      <div class="card-header d-flex">
        <h3 class="card-title">Uploaded Report Cards</h3>
        <ul class="nav nav-pills ml-auto">
          <li class="nav-item"><a class="nav-link active show" href="#tab_1" data-toggle="tab">Current Season</a></li>
          <li class="nav-item"><a class="nav-link " href="#tab_2" data-toggle="tab">Past Seasons</a></li>
        </ul>
      </div>
      <div class="card-body table-responsive p-0">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab_1">
            <%= render "report_card_table", {report_cards: @report_cards.current, type: "current"} %>
          </div>
          <div class="tab-pane " id="tab_2">
            <%= render "report_card_table", {report_cards: @report_cards.previous, type: "previous"} %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-5">
    <%=form_tag new_report_card_path, method: :get do %>

      <div class="card card-secondary">
        <div class="card-header">
          Upload new report card
        </div>
        <div class="card-body">
          <div class="form-group">
            <%=label_tag "Student Name"%>
            <%=select_tag "student_id", options_from_collection_for_select(current_user.students, :id, :name), prompt: "Select one", class: 'form-control'%>

          </div>
        </div>

        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>

    <% end %>

  </div>
</div>
