<tr>
  <td><%= f.input_field :letter %></td>
  <td><%= f.input_field :min  %></td>
  <td><%= f.input_field :max %></td>
  <td><%= f.input_field :custom  %></td>
  <td><%= f.hidden_field :_destroy %><%= link_to "remove", '#', class: "remove_fields" %></td>
</tr>
