<%- model_class = LetterToNumberGradeConverter -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:letter) %>:</strong></dt>
  <dd><%= @letter_to_number_grade_converter.letter %></dd>
  <dt><strong><%= model_class.human_attribute_name(:scale) %>:</strong></dt>
  <dd><%= @letter_to_number_grade_converter.scale %></dd>
  <dt><strong><%= model_class.human_attribute_name(:strategy) %>:</strong></dt>
  <dd><%= @letter_to_number_grade_converter.strategy %></dd>
  <dt><strong><%= model_class.human_attribute_name(:min) %>:</strong></dt>
  <dd><%= @letter_to_number_grade_converter.min %></dd>
  <dt><strong><%= model_class.human_attribute_name(:max) %>:</strong></dt>
  <dd><%= @letter_to_number_grade_converter.max %></dd>
  <dt><strong><%= model_class.human_attribute_name(:custom) %>:</strong></dt>
  <dd><%= @letter_to_number_grade_converter.custom %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              mgr_letter_to_number_grade_converters_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_mgr_letter_to_number_grade_converter_path(@letter_to_number_grade_converter), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              mgr_letter_to_number_grade_converter_path(@letter_to_number_grade_converter),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
