
<dl class="dl-horizontal long-label">
  <dt><strong>Does your child have a learning disability?</strong></dt>
  <dd>
  <%= yesno(@aep_registration.learning_disability) %>
  <p>
  <%= @aep_registration.learning_disability_details %>
  </p>
  <dd>
  <dt>
  <strong>Does your child have an IEP?: </strong></dt>
  <dd>
  <%= yesno(@aep_registration.iep) %>
  <p>
  <%= @aep_registration.iep_details %>
  </p>
  </dd>

  <dt><strong>Student Academic Conract Submitted:</strong></dt>
  <dd><%= yesno @aep_registration.student_academic_contract %></dd>
  <dt><strong>Parent Participation Agreement Submitted:</strong></dt>
  <dd><%= yesno @aep_registration.parent_participation_agreement %></dd>
  <dt><strong>Transcript & Test Score Release Provided:</strong></dt>
  <dd><%= yesno @aep_registration.transcript_test_score_release %></dt>
  <dt><strong>AEP Registration Payment Status</strong></dt>
  <dd><%= @aep_registration.payment_status %></dd>
</dl>
