<div>
  <p class='sub-section'> Please provide the following information about your household.</p>
  <p> We gather these statistics anonymously for our reporting to our funders .</p>
</div>
<%= form.simple_fields_for :current_household_profile do |d|%>
  <div class="row">
  <div class="col-md-6 col-sm-12">
  <%= d.input :num_adults, label: "No. Adults", :input_html=>{:min =>1, :id => :num_adults} %>
  <%= d.input :num_minors, label: "No. Minors", :input_html=>{:min =>1, :id => :num_minors}%>
  <%= d.input :education_level_cd, label: "Education Level",:as => :radio_buttons, :collection => enum_option_pairs(Demographic, :education_level, true) %>
  </div>
  <div class="col-md-6 col-sm-12">
  <%= d.input :home_ownership_cd, label: "Home Ownership", :as => :radio_buttons,  :collection => enum_option_pairs(Demographic, :home_ownership, true) %>
  <%= d.input :income_range_cd, label: "Income Range", :as => :radio_buttons, :collection => enum_option_pairs(Demographic, :income_range, true) %>
  </div>
  </div>
<%end%>

