<%content_for :page_header do %>
  <h1>Report Card:<%=@report_card.student_name%> > <%=@report_card.marking_period_name%> > <%=@report_card.academic_year %> </h1>  
<%end%>

<div class="page-header">
</div>




<%if @report_card.transcript.url%>
  <%=link_to image_tag("report_card.jpeg"), @report_card.transcript.to_s%>
<%else%>
  <h3><a href="#" class="file-chooser-proxy" data-target="#report_card">Click here to upload a copy of your report card</a></h3>
<%end%>

<table class="table table-striped table-bordered">
  <caption></caption>
  <thead>
    <tr><th> Subject </th> <th> Grade </th> <th> Comments </th></tr>
  </thead>
  <tbody>
  <%@report_card.grades.each do|grade| %>
    <tr>
    <td><%=grade.subject_name %></td>
    <td><%=grade.value %></td>
    <td></td>
  </tr>
<%end%>
  </tbody>
</table>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
    student_registration_report_card_path(@student_registration, @report_card), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
    edit_student_registration_report_card_path(@student_registration, @report_card), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
    student_registration_report_card_path(@student_registration, @report_card),
    :method => 'delete',
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
    :class => 'btn btn-danger' %>
</div>


  <div id="direct_uploader">
    <%= direct_upload_form_for @report_card.transcript, :html =>{:class => "upload_form"} do |f| %>
      <%= f.file_field :transcript, :class=>"file-chooser",  :id=>"report_card" %>
    <%end %>
  </div>

