<div class="page-header">
  <h1>Session Report</h1>
 <h3><%=@session_report.student_name%> > <%=@session_report.session_date%></h3>
  <h4>Tutor: <%=@session_report.tutor_name%></h4>
</div>

<dl class="dl-horizontal">
  <dt><strong>Worked On:</strong></dt>
  <dd><%= humanize_enum @session_report.worked_on %></dd>
  <dt><strong>Worked On Other</strong></dt>
  <dd><%= humanize_enum @session_report.worked_on_other %></dd>
  <dt><strong>Student Preparation :</strong></dt>
  <dd><%= humanize_enum @session_report.preparation %></dd>
  <dt><strong>Student Participation:</strong></dt>
  <dd><%= humanize_enum @session_report.participation %></dd>
  <dt><strong>Comprehension:</strong></dt>
  <dd><%= humanize_enum @session_report.comprehension %></dd>
  <dt><strong>Motivation:</strong></dt>
  <dd><%= humanize_enum @session_report.motivation %></dd>
  <dt><strong>Comments:</strong></dt>
  <dd><%= humanize_enum @session_report.comments %></dd>
  <dt><strong>Confirmed:</strong></dt>
  <dd><%= humanize_enum @session_report.confirmed %></dd>
</dl>


