<div class="page-header">
  <h1>Year End Report</h1>
  <h3><%=resource.name%></h3>
  <h4><%=resource.tutor_name%></h4>
</div>

<dl class="dl-horizontal">
  <dt><strong>Attendance</strong></dt>
  <dd><%= @year_end_report.attendance %></dd>
  <dt><strong>Preparation:</strong></dt>
  <dd><%= @year_end_report.preparation %></dd>
  <dt><strong>Participation</strong></dt>
  <dd><%= @year_end_report.participation %></dd>
  <dt><strong>Academic Skills:</strong></dt>
  <dd><%= @year_end_report.academic_skills %></dd>
  <dt><strong>Challenges &amp; Concerns:</strong></dt>
  <dd><%= @year_end_report.challenges_concerns %></dd>
  <dt><strong>Achievements:</strong></dt>
  <dd><%= @year_end_report.achievements %></dd>
  <dt><strong>Aecommendations:</strong></dt>
  <dd><%= @year_end_report.recommendations %></dd>
  <dt><strong>Comments:</strong></dt>
  <dd><%= @year_end_report.comments %></dd>
  <dt><strong>Confirmed:</strong></dt>
  <dd><%= yesno @year_end_report.confirmed %></dd>
</dl>
