<%= simple_form_for(@monthly_report, :html => { :class => 'form-horizontal report' }) do |f|%>

<%=f.association :aep_registration, collection: AepRegistration.current.includes(:student).all.map{|r| [r.student_name, r.id]}, :label => "Student" %>
<%=f.input :month, :collection => month_options  %>
<%=f.input :num_hours_with_student, :input_html =>{:min=>1}%>
<%=f.input :num_preparation_hours, :input_html =>{:min=>1} %>
<%=f.input :student_goals, as: :text%>
<%=f.input :goals_achieved, as: :radio_buttons, item_wrapper_class: 'inline'%>
<%=f.input :progress_notes, as: :text%>
<%=f.input :new_goals_set, as: :radio_buttons , item_wrapper_class: 'inline'%>
<%=f.input :new_goals_desc, as: :text%>
<%=f.input :issues_concerns, as: :text%>
<%=f.input :issues_resolution, as: :text%>
<%=f.input :confirmed, as: :boolean, :label => 'Finalize and Confirm?', :input_html=>{:id => "confirm"}%>


  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary', :id=>"save" %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                monthly_reports_path, :class => 'btn' %>
  </div>

<% end %>
