<%= simple_form_for(@monthly_report, :html => { :class => 'form-horizontal report' }) do |f|%>

<div class="row">
  <%=f.association :tutoring_assignment, collection: assignments_for_select(@assignments), label: "Student"%>
  <%=render partial: "shared/monthly_report_shared_fields", locals: {f:f} %>
</div>

<div class="form-actions">
  <%= f.button :submit, :class => 'btn-primary', :id=>"save" %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
    monthly_reports_path, :class => 'btn' %>
</div>

<% end %>
