<div class="page-header">
  <h1>Monthly Reports</h1>
  <h3><%=current_user.profileable.name%></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Student</th>
      <th>Month</th>
      <th>confirmed</th>
      <th>Date Submitted</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @monthly_reports.each do |rep| %>
      <tr>
        <td><%= rep.student_name %></td>
        <td><%= "#{Date::MONTHNAMES[rep.month]}- #{rep.year}"%></td>
        <td><%= yesno(rep.confirmed) %></td>
        <td><%=submission_date(rep) %></td>
        <td><%report_collection_links(rep, "btn-mini")%> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%=new_resource_link%>
<%#form_tag new_monthly_report_path , class: 'form-inline', method: :get do %>
  <%#label_tag "Select Student"%>
<%#select_tag :tutoring_assignment_id, options_from_collection_for_select(@assignments, :id, :student_name)  %>
<%#submit_tag "New Report", class:"btn btn-primary" %>
<%#end%> 
