<%- model_class = Workshop -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @workshop.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tutor_id) %>:</strong></dt>
  <dd><%= @workshop.tutor_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:notes) %>:</strong></dt>
  <dd><%= @workshop.notes %></dd>
  <dt><strong><%= model_class.human_attribute_name(:season_id) %>:</strong></dt>
  <dd><%= @workshop.season_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              mgr_workshops_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_mgr_workshop_path(@workshop), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              mgr_workshop_path(@workshop),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
