<%- model_class = Workshop -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @workshop.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tutor_id) %>:</strong></dt>
  <dd><%= @workshop.tutor_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:notes) %>:</strong></dt>
  <dd><%= @workshop.notes %></dd>
  <dt><strong><%= model_class.human_attribute_name(:season_id) %>:</strong></dt>
  <dd><%= @workshop.season_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to "All Workshops", mgr_workshops_path, :class => 'btn'  %>
  <%= link_to "Edit", edit_mgr_workshop_path(@workshop), :class => 'btn' %>
  <%= link_to "Delete", mgr_workshop_path(@workshop),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>


<div>
<table class="dtable table table-striped ">
  <thead>
    <tr>
      <th>Student</th>
      <th>Grade</th>
      <th>Enrollment Date</th>
      <th>Notes</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @workshop.workshop_enrollments.each do |we| %>
      <% if we.student  %>
      <tr>
        <td><%= link_to we.student_name, aep_registration_path(we.aep_registration_id) %></td>
        <td><%=we.grade%></td>
        <td><%=format_date we.created_at %></td>
        <td><%= we.status_cd %></td>
        <td></td>
        <td>
          <%= link_to "Reject",
                      mgr_workshop_enrollment_path(we, status: WorkshopEnrollment.statuses(:denied)),
                      :method => :delete,
                      :data => { :confirm => 'Are you sure?' },
                      :class => 'btn btn-mini btn-danger' %>
          <%= link_to "Approve",
            mgr_workshop_enrollment_path(we, status: WorkshopEnrollment.statuses(:approved)),
                      :method => :put,
                      :class => 'btn btn-mini btn-primary' if we.pending? %>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
</div>
