<%= simple_form_for @workshop_enrollment, :html => { :class => 'form-horizontal' } do |f| %>
  <%=f.association :workshop, collection: @workshops, :disabled=>@already_enrolled, :input_html => {:required => '' }, :hint=>"Disabled items are either full or the student is already enrolled"%>
  <%= f.input :aep_registration_id, :as => :hidden, :input_html => {:value => @aep_registration.id} %>
<%# f.input :status_cd %>
<div class="form-actions">
  <%= f.button :submit,"Enroll",  :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
    dashboard_path, :class => 'btn' %>
</div>
<% end %>
