<%- model_class = WorkshopEnrollment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:workshop_id) %></th>
      <th>Student</th>
      <th>Status</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @workshop_enrollments.each do |we| %>
      <tr>
        <td><%= link_to we.workshop.name,  workshop_path(we.workshop_id) %></td>
        <td><%= link_to we.student.name, aep_registration_path(we.aep_registration_id) %></td>
        <td><%= we.status_cd %></td>
        <td><%=l we.created_at %></td>
        <td>
          <%= link_to "Reject",
                      workshop_enrollment_path(we),
                      :method => :delete,
                      :data => { :confirm => 'Are you sure?' },
                      :class => 'btn btn-mini btn-danger' %>
          <%= link_to "Approve",
                      workshop_enrollment_path(we),
                      :method => :patch,
                      :class => 'btn btn-mini btn-primary' if we.pending? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_workshop_enrollment_path,
            :class => 'btn btn-primary' %>
