<div id="app" >
  <p> {{ message }}</p>
</div>
<div class="attendance-form">
  <%= form_for [:admin, @attendance_sheet]  do |sheet| %>
    <div>

    <%=sheet.fields_for :attendances  do |attendance|  %>
      <%=attendance.label :attended, " #{attendance.object.student_registration.student_name}", :class=> "attendance" %>
      <%=attendance.check_box :attended %>
    <%end%>
    <div style="clear:left">
      <%= sheet.submit :commit %>
    </div>
  <% end %>
  <p id="absent-key"></p>
  <p id="present-key"></p>
</div>


