<div class="page-header">
  <h1>Monthly Reports</h1>
</div>
<table class="dtable table table-striped">
  <thead>
    <tr>
      <th>Period</th>
      <th>Student</th>
      <th>confirmed</th>
      <th>Date Submitted</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @monthly_reports.each do |rep| %>
      <tr>
        <td><%=link_to("#{rep.month}- #{rep.year}", mgr_monthly_report_path(rep)) %></td>
        <td><%= rep.student_name %></td>
        <td><%= yesno(rep.confirmed) %></td>
        <td><%=submission_date(rep) %></td>
        <td><%report_collection_links(rep)%> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%=new_resource_link%>
