<h1 class="text-center">Students Demographic Breakdown</h1>
<h3 class="text-center"> <%="#{@season.description} -- #{@group_name}"%></h3>
<div class="dashboard-row">

  <section class="dashboard-cell">
    <%=pie_chart(@dashboard.pct_of_students_per_incomge_range, title: "By Income Segment", suffix: "%",legend: "bottom", download: true)%>

    <table>
      <thead>
        <tr>
          <th>Segment</th> <th>Count</th>
        </tr>
      </thead>
      <tbody>
        <%@dashboard.count_of_students_per_incomge_range.each do |segment, count|%>
          <tr>
            <td><%=segment%></td><td><%=count%></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </section>

  <section class="dashboard-cell">

    <%=pie_chart(@dashboard.pct_of_students_per_housing_status, title: "By Housing Status", suffix: "%",legend: "bottom", download: true)%>

    <table>
      <thead>
        <tr>
          <th>Segment</th> <th>Count</th>
        </tr>
      </thead>
      <tbody>
        <%@dashboard.count_of_students_per_housing_status.each do |segment, count|%>
          <tr>
            <td><%=segment%></td><td><%=count%></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </section>

</div>

<div class="clear-fix"></div>
<div class="dashboard-row">
  <section class="dashboard-cell">
    <%=pie_chart(@dashboard.pct_of_students_per_max_education_level, title: "By Highest Household Education Level", suffix: "%",legend: "bottom", download: true)%>
    <table>
      <thead>
        <tr>
          <th>Segment</th> <th>Count</th>
        </tr>
      </thead>
      <tbody>
        <%@dashboard.count_of_students_per_max_education_level.each do |segment, count|%>
          <tr>
            <td><%=segment%></td><td><%=count%></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </section>

  <section class="dashboard-cell">
    <%=pie_chart(@dashboard.pct_of_students_per_gender, title: "By Gender", suffix: "%",legend: "bottom", download: true)%>
    <table>
      <thead>
        <tr>
          <th>Segment</th> <th>Count</th>
        </tr>
      </thead>
      <tbody>
        <%@dashboard.count_of_students_per_gender.each do |segment, count|%>
          <tr>
            <td><%=segment%></td><td><%=count%></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </section>
</div>
