<h1 >
  <%=@parent.name%>
</h1>
<div class="row">
  <div class="span2">
    <%=image_tag(@parent.avatar_url(:thumb))%> 
  </div>
  <div class="span5">
    <p>
    <span class="form-label">Email:</span>
    <span class="reg-data"><%= @parent.email %></span>
    </p>

    <p>
    <span class="form-label">Phone:</span>
    <span class="reg-data"><%= @parent.primary_phone %></span>
    </p>

    <p>
    <span class="form-label">Phone 2:</span>
    <span class="reg-data"><%= @parent.secondary_phone%></span>
    </p>
    <p>
    <span class="form-label">Address:</span>
    <span class="reg-data"><%= @parent.address1 %></span></br>
    <span class="reg-data"><%= @parent.address2 %></span>
    </p>
    <p>
    <span class="form-label">City:</span>
    <span class="reg-data"><%= @parent.city %></span>
    <span class="reg-data"><%= @parent.state %></span>
    <span class="reg-data"><%= @parent.zip %></span>
    </p>
    <p>
    </p>
  </div>
</div>

