
<h5 class="welcome">Login</h5>
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <div class="form-group has-feedback">
      <%= f.text_field :email, placeholder: "Email", :required => false, :autofocus => true, class: "form-control" %>
      <span class="fa fa-envelope form-control-feedback"></span>
    </div>

    <div class="form-group has-feedback">
      <%= f.password_field :password, :required => false, placeholder: "Password", :hint => "Don't worry. If you forgot your password click the link below to reset it.", class: "form-control"%>
      <span class="fa fa-lock form-control-feedback"></span>
    </div>

    <div class="row">
      <!-- /.col -->
      <div class="col-12">
        <%= f.button :submit, "Sign in", :class => "btn btn-block btn-primary btn-large" %>
      </div>
      <!-- /.col -->
    </div>

    <div class="alt-login-links">
      <p class="mb-1">
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
        <%= link_to "Forgot your password?", new_password_path(resource_name), :class=>"big-link" %><br />
      <% end -%>
      </p>
      <p class="mb-0">

      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "Sign up", new_registration_path(resource_name), :class=>"big-link" %>
      <% end -%>
      </p>
    </div>
  <% end %>

