<div class="row">
  <div class="col-md-6 col-sm-12 mx-auto">
    <%= simple_form_for(@aep_registration, :html => { :class => 'form '}) do |f| %>
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title"><%=@aep_registration.student_name%></h3>
        </div>

        <div class="card-body">
          <%= f.input_field :student_registration_id, :value => @aep_registration.student_registration_id, :as => :hidden %>
          <%= f.error_notification %>
          <%=f.input :learning_disability, :as=> :radio_buttons, wrapper_html: { id: 'learning_disability' } , :label => "Does your child have a learning disability?"%>
          <%=f.input :learning_disability_details,  as: :text, label:false, :placeholder => "If you selected 'Yes' please provide details below", :input_html=>{cols: 100, rows: 5, class:"wide-short"} %>
          <%=f.input :iep, :as=> :radio_buttons,  wrapper_html: { id: 'iep' }, :label => "Does your child have an IEP?"%>
          <%=f.input :iep_details, :as=> :text, label:false, :placeholder=>"If you selected 'Yes' please provide details below", :input_html=>{cols: 100, rows: 5, class:"wide-short"}%>
        </div>
        <div class="card-footer">
          <%= f.button :submit, "Submit", :id =>"submit", class: "btn btn-info " %>
          <%= link_to 'Cancel', dashboard_path,  class: "btn btn-default float-right"%>
        </div>
      <% end %>

      </div>
  </div>
</div>
