<div class="page-header">
  <h1>AEP Registration</h1>
  <h3><%= @aep_registration.student_name %> > <%= @aep_registration.term %></h3>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
    edit_aep_registration_path(@aep_registration)  %>
</div>
<%=render partial: "shared/aep_reg_data" %>

  <div>
    <div class="page-header">
      <h3>Enrolled Workshops</h3><%=link_to "More workshops",new_workshop_enrollment_path(:aep_registration_id => @aep_registration.id)%>
  </div>
    <%=render "workshops/list" %>
  </div>
