<fieldset>
  <legend>Card Details </legend>  
<div class="form-group">
  <%= text_field_tag :card_number, nil, name: nil, :class => "card-number", :"data-stripe"=>"number", class: "form-control", placeholder: "Credit Card Number"%>
</div>
<div class="form-group">
  <%= text_field_tag :card_code, nil, name: nil ,:class => "card-cvc", :"data-stripe" => "cvc" , class: "form-control", placeholder: "CVC Number"%>
</div>
<div class="form-group">
  <%= label_tag :card_month, "Card Expiration" %>
  <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month", class: "card-expiry-month",:"data-stripe"=>"exp-month"} %>
  <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", class: "card-expiry-year", :"data-stripe"=>"exp-year"} %>
</div>
</fieldset>
<legend>Billing Address</legend>
<div class="form-group">
  <%= text_field_tag :address_line1 ,nil, class: "form-control", placeholder: "Address 1"%>
</div>

<div class="form-group">
  <%= text_field_tag :address_line2 ,nil, class: "form-control", placeholder: "Address 2"%>
</div>
<div class="form-group">
  <%= text_field_tag :address_city ,nil, class: "form-control", placeholder: "City"%>
</div>

<div class="form-group">
  <%= text_field_tag :address_state ,nil, class: "form-control", placeholder: "State"%>
</div>

<div class="form-group">
  <%= text_field_tag :address_zip , nil, class: "form-control", placeholder: "Zip"%>
</div>

<div class="form-group">
  <%= text_field_tag :address_country, nil, class: "form-control", placeholder: "State"%>
</div>
</fieldset>
