<%=simple_fields_for "" do |ff|%>
  <h5>Card Details</h5>

  <div class="row">
    <%=ff.input :card_number, label: "Number", input_html: {name: nil, :"data-stripe"=>"number"}, wrapper_html:{class: "col-md-4 col-sm-12"} %>
    <%=ff.input :card_month, label: "Month", input_html: {name: nil, :"data-stripe"=>"exp-month"}, wrapper_html:{class: "col "} %>
    <%=ff.input :card_year, label: "Year", input_html: {name: nil, :"data-stripe"=>"exp-year"}, wrapper_html:{class: "col"}%>
    <%=ff.input :card_code, label: "CVC", input_html: {name: nil, :"data-stripe"=>"cvc"}, wrapper_html:{class: "col"}%>
  </div>

  <div class="mt-3">
    <h5>Billing Address</h5>
    <div class="row ">
      <%= ff.input :address_line1, label: "Address", wrapper_html:{class: "col-md-6 col-sm-12"}%>
      <%= ff.input :address_line2, label: "Address 2", required: false, wrapper_html:{class: "col-md-6 col-sm-12"}%>
    </div>
    <div class="row">
      <%= ff.input :address_city, label: "City", wrapper_html:{class: "col-md-6 col-sm-12" } %>
      <%= ff.input :address_state, label: "State", wrapper_html:{class: "col-md-3 col-sm-12"} %>
      <%= ff.input :address_zip, label: "Zip", wrapper_html:{class: "col-md-3"}    %>
    </div>
  </div>
<%end%>
