
<%= simple_form_for(@payment, :html =>{:id => "payment-form"}) do |f| %>
  <div class="card card-info no-shadow">
    <div class="card-header">
      <h2 class="card-title"></h2>
      <h3 ><%=Season.current.description%></h3>
    </div>
    <div class="card-body">
      <div class="row justify-content-center">
        <div class="col-md-11 col-sm-12">
          <%=render "details"%>
        </div>
      </div>
      <div class= "row justify-content-center">
        <div class="col-md-11 col-sm-12">
          <%=render :partial => "form_errors", :locals =>{:model => @payment} %>

          <%=f.hidden_field :amount, value:  @payment.total_payment %>
          <%=f.hidden_field :parent_id, value: current_parent.id %>
          <%=f.hidden_field :stripe_card_token, id: "stripe_card_token" %>
          <%=f.hidden_field :stripe_charge_id %>
          <%=f.hidden_field :payment_medium_cd, value: "online" %>
          <%=f.hidden_field :program_cd, value: @payment.program%>


          <div class="card card-info no-shadow">
            <div class="card-header">
              <h2 class="card-title"> Billing Details </h2>
            </div>
            <div class="card-body">
              <div class="row mb-3" >
                <%= f.input :email, wrapper_html: { class: 'col-md-5' } %>
                <%= f.input :first_name, wrapper_html: { class: 'col' } %>
                <%= f.input :last_name, wrapper_html: { class: 'col' }%>
              </div>

              <div class="mb-2 <%=@payment.payment_details_validated?  ? 'd-none': '' %>">
                  <%=render :partial => "payment_methods", :locals => {:f => f} %>
              </div>

              <div class="credit-card-fields mt-3 collapse">
                <% if @payment.stripe_card_token.present? %>
                  <p>Credit card has been provided.</p>
                <% else %>
                  <%=render :partial => "credit_card_auth_fields" %>
                <% end %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="card-footer">
      <%= f.button :submit, "Submit Payment", :id =>"btn-submit", class: "submit-button btn btn-info " %>
      <%= link_to 'Cancel', dashboard_path,  class: "btn btn-default float-right"%>
    </div>
  </div>

<% end %>

