<div class="row">
  <div class="col-12">

    <div class="invoice p-3 mb-3">
      <!-- title row -->
      <div class="row invoice-header">
        <div class="col-12">
          <%=image_tag "logo.png", class:"logo-invert mx-auto d-block"%>
          <h5>Payment Details</h5>
          <small class="float-right">Date: <%=format_date @payment.created_at%></small>
        </div>
        <!-- /.col -->
      </div>
      <!-- info row -->
      <div class="row invoice-info">
        <div class="col-sm-6 invoice-col">
          From
          <address>
            <strong>Peter Westbrook Foundation</strong><br>
            G.P.O. Box 7554<br/>
            New York, NY 10116<br/>
            Phone: (212) 459-4538<br/>
            Email: info@peterwestbrook.org
          </address>
        </div>
        <div class="col-sm-6 invoice-col">
          To
          <address>
            <strong><%=@payment.parent_name%></strong><br/>
            <%=@payment.parent_full_address%><br/>
            Email: <%=@payment.parent_email%>
          </address>
        </div>
      </div>
      <!-- /.row -->

      <%= render "details" %>
      <div>
        This receipt serves a confirmation of your enrollment in the <%=@payment.program_description%> for the above name student(s).
      </div>
      <!-- this row will not appear when printing -->
      <div class="row no-print">
        <div class="col-12">
          <%=link_to payment_path(@payment,print: true),  target:"_blank", class: "btn btn-default" do %>
            <i class="fa fa-print"></i> Print 
          <%end%>
        </div>
      </div>
    </div>
    <!-- /.invoice -->
  </div><!-- /.col -->
</div>
