<div class="" >
  <h2 >PAYMENT DETAILS <p><%="Peter Westbrook Foundation  #{current_season.term} #{@prog} Registration"%><p></h2>
  <div class="header">
    <h4>Parent Information</h4>
    <label>Parent Name: <span><%=current_parent.name%></span></label>
    <label>Address: <span><%=current_parent.full_address%></span></label>

  </div>

    <h4>Student Registrations Details</h4>
  <table class="table table-striped table-bordered invoice">
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Age</th>
        <th><%="#{@prog} Registration Fee" %> </th>
      </tr>
    </thead>
    <tbody>
      <% @registrations.each do |reg| %>
        <tr>
          <td><%=reg.student_name%> </td>
          <td><%= reg.student_age %></td>
          <td>$<%=@fee%></td>
        </tr>
      <% end %>
      <tr>
        <td class="total-amount" colspan="2">
          Total Amount Due: <%= number_to_currency @total_payment %>
        </td>
        <td class="total-amount" colspan="2">
          Status: <%= @payment.is_completed? ? "PAID - #{format_date @payment.created_at}" : "UNPAID"  %>
        </td>
      </tr>

    </tbody>
  </table>
</div>

