
<div class="row">
  <div class="col-12">

    <!-- Main content -->
    <div class="invoice p-3 mb-3">
      <!-- title row -->
      <div class="row invoice-header">
        <div class="col-12">
          <h4>
            Peter Westbrook Foundation
          </h4>
          <h5>Payment Details</h5>
          <small class="float-right">Date: <%=format_date @payment.created_at%></small>
        </div>
        <!-- /.col -->
      </div>
      <!-- info row -->
      <div class="row invoice-info">
        <div class="col-sm-6 invoice-col">
          From
          <address>
            <strong>Peter Westbrook Foundation</strong><br>
            G.P.O. Box 7554<br/>
            New York, NY 10116<br/>
            Phone: (212) 459-4538<br/>
            Email: info@peterwestbrook.org
          </address>
        </div>
        <div class="col-sm-6 invoice-col">
          To
          <address>
            <strong><%=current_parent.name%></strong><br/>
            <%=current_parent.full_address%><br/>
            Email: <%=current_parent.email%>
          </address>
        </div>
      </div>
      <!-- /.row -->

      <%= render "details" %>
      <!-- this row will not appear when printing -->
      <div class="row no-print">
        <div class="col-12">
          <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a>
          <button type="button" class="btn btn-success float-right"><i class="fa fa-credit-card"></i> Submit
            Payment
          </button>
          <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
            <i class="fa fa-download"></i> Generate PDF
          </button>
        </div>
      </div>
    </div>
    <!-- /.invoice -->
  </div><!-- /.col -->

