<% unless @payment.payment_details_validated? %>
  <h3>Choose a payment method </h3>
  <div class="field">
    <%= f.radio_button  :pay_with, :card, :selected => true %>
    <%= label_tag :pay_with_card do %>
      <%= image_tag "visa.png" %>
      <%= image_tag "mastercard.png" %>
      <%= image_tag "discover.png" %>
      <%= image_tag "american_express.png" %>
      <%= image_tag "jcb.png" %>
    <% end %>
    <%= f.radio_button  :pay_with, :paypal %>
    <%= label_tag :pay_with_paypal do %>
      <%= image_tag "paypal.png" %>
    <% end %>
  </div>
<% end %>

