<% unless @payment.payment_details_validated? %>
  <h4>Choose a payment method </h4>
  <ul class="payment-methods" >
    <li>
    <%= f.radio_button  :pay_with, :card, :checked => true  %>
      <%= image_tag "visa.png" %>
      <%= image_tag "mastercard.png" %>
      <%= image_tag "discover.png" %>
      <%= image_tag "american_express.png" %>
      <%= image_tag "jcb.png" %>
    <%# end %>
    </li>
    <li>
    <%= f.radio_button  :pay_with, :paypal %>
      <%= image_tag "paypal.png" %>
    </li>
  </ul>
<% end %>

