
<ul>
  <li><%=link_to "Create Tutor", new_mgr_tutor_path%> </li>
  <li><%=link_to "Tutor List", mgr_tutors_path%></li>
  <li><%=link_to "Create tutoring assignment", new_mgr_tutoring_assignment_path%></li>
  <li><%=link_to "Create workshop", new_mgr_workshop_path%></li>
</ul>


Tutors: <%=Tutor.count%>

