<div class="page-header">
  <h1>Parent Dashboard </h1>
  <h3><%="#{current_parent.name} > #{current_season.term}"%></h3>
</div>
<h4>Students</h4>
<div class="row">
  <div class="span12">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Dob</th>
          <th>Gender</th>
          <th>Status</th>
          <th>Report Card Submitted</th>
          <th>Enrolled in AEP</th>
        </tr>
      </thead>
      <tbody>
      <% @parent.students.each do |student| %>
        <tr>
        <td><%= link_to  student.name, student_path(student), :id => "student_id_#{student.id}" %></td>
        <td><%= student.dob %></td>
        <td><%= student.gender %></td>
        <td><%= student.registration_status %> <br/>
          <%=student_registration_helper student%>
        </td>
        <td><%=student_report_card_helper student%></td>
        <td> 
        <%=yesno(student.currently_in_aep?) %><br/>
          <%student_aep_link(student)%>
        </td>
      </tr>
    <% end %>
      </tbody>
    </table>
  </div>
</div>

<h4>Fees and Dues</h4>
<div  id="parent-links">
  <table class="table table-striped table-bordered" >
    <thead>
      <tr>
        <th>Program</th>
        <th>Enrolled</th>
        <th>Unpaid</th>
        <th>Pay</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>Saturday Fencing</td>
      <td><%=current_parent.student_registrations.current.count %></td>
      <td><%=current_parent.current_unpaid_pending_registrations.count %></td>
      <td>
        <%if current_parent.has_no_unpaid_pending_ineligible_registrations? && current_parent.has_unpaid_pending_registrations?%>
          <%= link_to "Pay Fee",new_payment_path, :id => "pay", :class=>"pay-fee" %>
        <%elsif current_parent.has_unpaid_pending_valid_registrations? %>
            <%= link_to "Pay Fee",new_payment_path, :id => "pay", :class=>"pay-fee" %>
            <p>(*You have 1 or more registrations without a valid report card)</p>
          <%elsif current_parent.has_only_ineligble_registrations?%>
            <p>Your registration status has not been approved yet. Will notify you when you are able to pay</p>
          <%else%>
          NO unpaid registrations 
      <%end%>
      </td>
    </tr>
    <tr>
      <td>Academic Enrichment</td>
      <td><%=current_parent.aep_registrations.current.count %></td>
      <td><%=current_parent.current_unpaid_aep_registrations.count %></td>
      <td>
        <%if current_parent.has_unpaid_aep_registrations? %>
          <%= link_to "Pay Fee",new_payment_path(:program=> "aep"), :id => "pay_aep", :class=>"pay-fee" %>
      <%else%>
          No Unpaid Registrations
      <%end%>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="sidebar-nav">
  <div class="well" style="width:300px; padding: 8px 0;">
    <ul class="nav nav-list"> 
      <li class="nav-header">Academic Enrichment</li>
      <li><%=link_to "Workshops", workshops_path%></li>
      <li><%=link_to "Upload Report Cards", new_report_card_path%></li>
      <li class="nav-header">Saturday Fencing</li>
      <li><%= link_to "Register New Student",new_student_path, :id => "new_registration", :class=>"" if open_enrollment%></li>
    </ul>
  </div>
</div>

