<%content_for :page_hdr do%>
  Dashboard
<%end%>

<div class="row">
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-info">
      <div class="inner">
        <h3><%=current_user.student_registrations.current.count%></h3>
        <p>Students</p>
      </div>
      <div class="icon">
        <i class="ion ion-bag"></i>
      </div>
      <%=link_to students_path, class:"small-box-footer" do%>
        Details <i class="fa fa-arrow-circle-right"></i>
      <%end%>
    </div>
  </div>
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-danger">
      <div class="inner">
        <h3>65</h3>

        <p>Enrolled in AEP</p>
      </div>
      <div class="icon">
        <i class="ion ion-pie-graph"></i>
      </div>
      <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
</div>




<div class="row">
  <div class="col-md-4 col-6">

    <div class="card card-widget">
      <div class="card-header bg-info">
        <h5>Current Season Students</h5>
        <h6><%=Season.current.slug%></h6>
      </div>
      <div class="card-body p-0">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="#" class="nav-link">
              Registered <span class="float-right badge bg-info"><%=current_user.current_registrations_count%></span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              Confirmed <span class="float-right badge bg-success"><%=current_user.current_confirmed_registrations_count%></span>
            </a>
          </li>
          <li class="nav-item">
            <%=link_to new_payment_path(program: :fencing),  class:"nav-link" do %>
              Awaiting Payment
              <span class="float-right badge bg-warning">
                <%=current_user.current_unpaid_registrations_count%>
              </span>
              <%end%>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              Withdrawn <span class="float-right badge bg-danger"><%=current_user.current_withdrawn_registrations_count%></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
