<%content_for :page_hdr do%>
  Dashboard
<%end%>

<div class="row">
  <div class="col-sm-12 col-md-8 ">
    <div class="card card-secondary">
      <div class="card-header">
        <h1 class="card-title">Students Registered</h1>
      </div>
      <div class="card-body p-0">
        <%if @current_registrations.empty?%>
          <div class="text-warning p-2 pb-2 p2-2"> No Students currently enrolled</div>
        <%else%>
          <ul class="dashboard-students clearfix">
            <%@current_registrations.each do |reg|%>
              <li>
                <div class="named-avatar">
                  <%=image_tag render_avatar(reg.student), class:"img-circle elevation-2"%> 
                </div>
                <div class="dashboard-student-info clearfix">
                  <span class="info-box-text <%="text-danger" if reg.blocked_on_report_card?%>"><%=te(reg, :status)%></span>
                  <span class="info-box-number">
                    <%#reg.is_missing_first_report_card? ? "1st Report Card Due" : "1st Report Card Uploaded"%>
                  </span>
                  <span class="info-box-number">
                    <%#reg.is_missing_second_report_card? ? "2nd Report Card Due" : "2nd Report Card Uploaded"%>
                  </span>
                </div>

                <%=link_to reg.student_first_name, student_path(reg.student), class: "dashboard-students-name"%> 
              </li>
            <%end%>
          </ul>
        <%end%>
      </div>
    </div>
  </div>
</div>




<div class="row">
  <div class="col-md-8 col-sm-12">

    <div class="card card-light">
      <div class="card-header">
        <h1 class="card-title">Todo List</h1>
      </div>
      <div class="card-body p-1">
        <% if current_user.current_unpaid_aep_registrations.empty? && current_user.unpaid_registrations.empty?%>
          <div class="text-success p-2 pb-2 p2-2"> Nice job! You have no open todos.</div>
        <%else%>
        <ul class="nav flex-column">
          <li class="nav-item">
            <%if current_user.current_unpaid_aep_registrations.any?%>
              <%=link_to new_payment_path(program: :aep),  class:"nav-link" do %>
                You have <span class="badge bg-warning">
                  <%=current_user.current_unpaid_aep_registrations_count%>
                </span>
                Pending payment for the AEP Program
              <%end%>
            <%end%>
          </li>
          <li class="nav-item">
            <%if current_user.unpaid_registrations.any?%>
              <%=link_to new_payment_path(program: :fencing),  class:"nav-link" do %>
                You have <span class="badge bg-warning">
                  <%=current_user.unpaid_registrations_count%>
                </span>
                unpaid registrations
              <%end%>
            <%end%>
          </li>
        </ul>
      <%end%>
      </div>
    </div>
  </div>
</div>
