
<h2>Assignments</h2>
<ul>
  <% @tutor.tutoring_assignments.each do|ass|%>
    <li><%=ass.student_name%></li>
  <%end%>
</ul>

<p>
<%=link_to "Create new session report", new_session_report_path%>
<%=link_to "Session Reports", session_reports_path%>
<%=link_to "Monthly Reports", monthly_reports_path%>
<%=link_to "Year End Reports", year_end_reports_path%>
</p>
