
<h2>Assignments</h2>
<ul>
  <% @tutor.tutoring_assignments.each do|ass|%>
    <li><%=ass.student_name%></li>
  <%end%>
</ul>

<ul>
  <li><%=link_to "Create new session report", new_session_report_path%></li>
  <li><%=link_to "Create new monthly report", new_monthly_report_path%></li>
  <li><%=link_to "Create new year end report", new_year_end_report_path%></li>
  <li><%=link_to "Session Reports", session_reports_path%></li>
  <li><%=link_to "Monthly Reports", monthly_reports_path%></li>
  <li><%=link_to "Year End Reports", year_end_reports_path%></li>
</ul>
