<%= simple_form_for(@parent, :html => { :class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>
  <div class = "form-inputs">
    <%=render  "shared/contact",  :locals =>{:f => f }%>
    <%=render "shared/demographics", :f => f%>
    <div class="form-actions">
      <%= f.button :submit, "Save", :class => "btn btn-primary btn-large"%>
    </div>
  <% end %>
