<div class="row">
  <div class="col-8">
    <%= simple_form_for(@parent, :as => :parent, :html => {  }) do |f| %>
      <%= f.error_notification %>
      <div class="card">
        <div class="card-header d-flex p-0">
          <h3 class="card-title p-3">Parent Profile</h3>
          <ul class="nav nav-pills ml-auto p-2">
            <li class="nav-item"><a class="nav-link active show" href="#tab_1" data-toggle="tab">Bio</a></li>
            <li class="nav-item"><a class="nav-link " href="#tab_2" data-toggle="tab">Contact</a></li>
            <li class="nav-item"><a class="nav-link" href="#tab_3" data-toggle="tab">Household</a></li>
          </ul>
        </div><!-- /.card-header -->
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab_1">
              <div class = "row">
                <div class = "col-6">
                  <%= f.input :first_name %>
                  <%= f.input :last_name %>
                </div>
                <div class = "col-6">
                  <%=image_tag render_avatar(@parent)%> 
                  <%= f.input :photo, as: :file, direct_upload: true, input_html: {accept: "image/png,image/jpeg"}%>
                </div>
              </div>
            </div>
            <div class="tab-pane " id="tab_2">
              <%=render "shared/contact",  :form => f %>
            </div>
            <div class="tab-pane" id="tab_3">
              <%=render :partial => "shared/demographics", :locals => {:form => f}%>
            </div>
          </div>
          <!-- /.tab-content -->

        </div><!-- /.card-body -->
        <div class="card-footer clearfix">
          <%= f.button :submit, "Save", :class => "btn btn-primary btn-large"%>
        </div>
      </div><!-- /.card -->
  </div>
</div>
<% end %>
