<%= simple_form_for @student_assessment, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :aep_registration_id %>
  <%= f.input :pre_test_grade %>
  <%= f.input :pre_test_date %>
  <%= f.input :post_test_grade %>
  <%= f.input :post_test_date %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                mgr_student_assessments_path, :class => 'btn' %>
  </div>
<% end %>
