<div class="page-header">
  <h1>Student Assessments</h1>
</div>

<div class="span4 offset3">
  <%=form_tag mgr_student_assessments_path , class: 'form-inline', method: :get do %>
    <%=label_tag "Season"%>
  <%=select_tag :season_id, options_from_collection_for_select(Season.by_season, :id, :term, selected: @season.id), class:"season-change"%>
<%end%>
</div>
<table class="dtable table table-striped">
  <thead>
    <tr>
      <th></th><th colspan=4>Pre Test</th><th colspan=4>Post Test</th>
    </tr>
    <tr>
      <th>Student</th>
      <th>Math</th>
      <th>Reading</th>
      <th>Writing</th>
      <th>Overall</th>
      <th>Math</th>
      <th>Reading </th>
      <th>Writing</th>
      <th>Overall</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @student_assessments.each do |student_assessment| %>
      <tr>
        <td><%= link_to student_assessment.student_name %></td>
        <td><%= student_assessment.pre_test_math_score %></td>
        <td><%= student_assessment.pre_test_reading_score %></td>
        <td><%= student_assessment.pre_test_writing_score %></td>
        <td><%= student_assessment.pre_test_overall_score %></td>
        <td><%= student_assessment.post_test_math_score %></td>
        <td><%= student_assessment.post_test_reading_score %></td>
        <td><%= student_assessment.post_test_writing_score %></td>
        <td><%= student_assessment.post_test_overall_score %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_mgr_student_assessment_path(student_assessment), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      mgr_student_assessment_path(student_assessment),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_mgr_student_assessment_path,
            :class => 'btn btn-primary' %>
