<%= simple_form_for @aep_registration, :html => { :class => 'form form-horizontal' } do |f| %>
<fieldset>
  <div id="legend">
    <legend>
    <%= f.association :student_registration, :collection => @student_registrations.map{|s|[s.student_name, s.id]}, label: "Student" %>
    </legend>
  </div>
<%= f.error_notification %>
<%=render partial: "shared/common_aep_reg_form_fields", locals: {f:f} %>
  <%=f.input :student_academic_contract, :label => false, :inline_label => "Student Academic  Contract"%>
<%=f.input :parent_participation_agreement, :label => false, :inline_label => "Parent Participation Agreement"%>
<%=f.input :transcript_test_score_release, :label => false, :inline_label => "Transcript & Test Score Release"%>
</fieldset>
<div class="form-actions">
<%= f.button :submit, :class => 'btn-primary', :id => "save" %>
<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
  workshops_path, :class => 'btn' %>
</div>
<% end %>