<%= simple_form_for @aep_registration, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :student_registration_id %>
  <%= f.input :payment_id %>
  <%= f.input :learning_disability %>
  <%= f.input :iep %>
  <%= f.input :student_academic_contract %>
  <%= f.input :parent_participation_agreement %>
  <%= f.input :transcript_test_score_release %>
  <%= f.input :learning_disability_details %>
  <%= f.input :iep_details %>
  <%= f.input :season_id %>
  <%= f.input :payment_status_cd %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                mgr_aep_registrations_path, :class => 'btn' %>
  </div>
<% end %>
