<div class="page-header">
  <h1>Aep Registrations</h1>
  <h3><%=current_season.term%></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Parent</th>
      <th>Email</th>
      <th>Learning Disability</th>
      <th>IEP</th>
      <th>Payment Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @aep_registrations.each do |aep_registration| %>
      <tr>
        <td><%= link_to aep_registration.student_name, mgr_aep_registration_path(aep_registration) %></td>
        <td><%= link_to aep_registration.parent.name %></td>
        <td><%= aep_registration.parent.email %></td>
        <td><%= yesno aep_registration.learning_disability %></td>
        <td><%= yesno aep_registration.iep %></td>
        <td><%= aep_registration.payment_status %></td>
        <td>
          <%= link_to "Edit",
                      edit_mgr_aep_registration_path(aep_registration), :class => 'btn btn-mini' %>
          <%= link_to "Destroy",
                      mgr_aep_registration_path(aep_registration),
                      :method => :delete,
                      :data => { :confirm =>  'Are you sure?' },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_mgr_aep_registration_path,
            :class => 'btn btn-primary' %>
