<div class="page-header">
  <h1>Aep Registrations</h1>
  <h3><%=@season.term%></h3>
</div>


<div class="row">
  <div class="span4 offset3">
    <%=form_tag mgr_aep_registrations_path , class: 'form-inline', method: :get do %>
    <%=label_tag "Season"%>
    <%=select_tag :season_id, options_from_collection_for_select(Season.by_season, :id, :term, selected: @season.id), class:"season-change"%>
    <%end%>
  </div>
  <div class="span2">
  <%=link_to "Add AEP Registration", new_mgr_aep_registration_path(season_id: @season.id), class: "new-mgr-resource-top" %>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Parent</th>
      <th>Email</th>
      <th>Grade</th>
      <th>Learning Disability</th>
      <th>IEP</th>
      <th>Payment Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @aep_registrations.each do |aep_registration| %>

      <% if aep_registration.student  %>
      <tr>
        <td><%= link_to aep_registration.student_name, mgr_aep_registration_path(aep_registration) %></td>
        <td><%= link_to aep_registration.parent.name, mgr_parent_path(aep_registration.parent) %></td>
        <td><%= aep_registration.parent.email %></td>
        <td><%= aep_registration.grade %></td>
        <td><%= yesno aep_registration.learning_disability %></td>
        <td><%= yesno aep_registration.iep %></td>
        <td><%= aep_registration.payment_status %></td>
        <td>
          <%= link_to "Edit",
                      edit_mgr_aep_registration_path(aep_registration), :class => 'btn btn-mini' %>
          <%= link_to "Destroy",
                      mgr_aep_registration_path(aep_registration),
                      :method => :delete,
                      :data => { :confirm =>  'Are you sure?' },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

