<%- model_class = AepRegistration -%>
<div class="page-header">
  <h1>Aep Registration</h1>
  <h3><%=@aep_registration.student_name%></h3>
</div>

<%=render partial: "shared/aep_reg_data" %>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              mgr_aep_registrations_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_mgr_aep_registration_path(@aep_registration), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              mgr_aep_registration_path(@aep_registration),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
