<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<%= render 'shared/global_html_head' %>
</head>

<body >
<div id="wrapper">
	<header id="header">
		<h1 id="site-logo">
        <%=link_to (image_tag "pwf-logo-110-75.png"),  user_signed_in? ? dashboard_path(current_user): root_path%>
		</h1>	
		<a href="javascript:;" data-toggle="collapse" data-target=".top-bar-collapse" id="top-bar-toggle" class="navbar-toggle collapsed">
			<i class="fa fa-cog"></i>
		</a>
		<a href="javascript:;" data-toggle="collapse" data-target=".sidebar-collapse" id="sidebar-toggle" class="navbar-toggle collapsed">
			<i class="fa fa-reorder"></i>
		</a>
	</header> 


	<nav id="top-bar" class="collapse top-bar-collapse">

		<ul class="nav navbar-nav pull-left">
			<li class="">
      <%= link_to dashboard_path do %>
        <i class="fa fa-home"></i> 
      Home
    <%end%>
			</li>

		</ul>

		<ul class="nav navbar-nav pull-right">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
					<i class="fa fa-user"></i>
		        	Rod Howard 
		    	</a>
		    </li>
		</ul>

	</nav> <!-- /#top-bar -->


	<div id="sidebar-wrapper" class="collapse sidebar-collapse">
	
		<nav id="sidebar">		
			
			<ul id="main-nav" class="open-active">			


				<!--li class="">				
				<a href="./index.html">
					<i class="fa fa-dashboard"></i>
					Dashboard
				</a>				
				</li-->
							
				<li class="dropdown active opened">
					<a href="javascript:;">
						<i class="fa fa-group"></i>
						Students
						<span class="caret"></span>
					</a>				
					
					<ul class="sub-nav">
						<li>
						<%=link_to students_path do %>
							<i class="fa fa-group"></i> 
							Current Registrations
						<%end%>
						</li>
						<li>
						<%=link_to report_cards_path do %>
								<i class="fa fa-list-alt"></i> 
							 Report Cards	
						 <%end%>
						</li>
					</ul>						
					
				</li>	
							<li class="dropdown">
					<a href="javascript:;">
						<i class="fa fa-group"></i>
						Academic Enrichment 
						<span class="caret"></span>
					</a>				
					
					<ul class="sub-nav">
						<li>
						<%=link_to workshops_path do %>
							<i class="fa fa-group"></i> 
							Workshops
						<%end%>
						</li>
						<li>
							<a href="./page-calendar.html">
								<i class="fa fa-calendar"></i> 
								Calendar
							</a>
						</li>
					</ul>						
					
				</li>	
			
			</ul>
					
		</nav> <!-- #sidebar -->

	</div> <!-- /#sidebar-wrapper -->


	
	<div id="content">		
		
		<div id="content-header">
			<%=content_for :page_header %>
		</div> <!-- #content-header -->	


		<div id="content-container">


			
			<%=yield%>
			


			
		</div> <!-- /#content-container -->			
		
	</div> <!-- #content -->
	
	
</div> <!-- #wrapper -->

<footer id="footer">
	<ul class="nav pull-right">
		<li>
			Copyright &copy; 2013, Jumpstart Themes.
		</li>
	</ul>
</footer>

</body>
</html>
