<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Peter Westbrook Foundation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= content_for?(:title) ? yield(:title) : "Peter Westbrook Foundation" %></title>
    <%= csrf_meta_tags %>
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

  <%= stylesheet_link_tag "application", :media => "all" %>
</head>
<body class="hold-transition login-page">

<div class="login-box">
  <!-- /.login-logo -->
  <div class="card">
    <div class="login-hdr bg-secondary">
      <a href="/">
      <%=image_tag "logo-black.svg", class:"login-hdr-img" %>
      <span class="site-identification-text">Peter Westbrook Foundation</a>
      </a>
    </div>
    <div class="card-body login-card-body">
      <%=yield%>
    </div>
  </div>
</div>

<!-- /.login-box -->

<%= javascript_include_tag "application" %>

</body>
</html>
