<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Peter Westbrook Foundation" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
  </head>
  <body class="receipt">

    <div class="row ">
      <div class="span12">
        <div id="branding">
          <%=image_tag "logo_smaller.png"%>
        </div>
        <span id="receipt_title" class="pull-right">Registration for <%=current_season.description%></span>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <%= yield %>
      </div>
    </div>
  </body>
</html>

