<%= simple_form_for(@session_report, :html => { :class => 'form-horizontal report', :novalidate=>"" }) do |f|%>

<div class="row">
  <%=f.association :tutoring_assignment, collection: assignments_for_select(@assignments), label: "Student"%>
  <%=render :partial => "shared/session_report_shared_fields", locals:{f:f}%>
</div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary', :id=>"save" %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                session_reports_path, :class => 'btn' %>
  </div>

<% end %>
