<%- model_class = SessionReport -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Student</th>
      <th>Session Date</th>
      <th>Confirmed</th>
      <th>Date submitted</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @session_reports.each do |rep| %>
      <tr>
      <td><%=rep.student_name %></td>
      <td><%=rep.session_date%></td>
      <td><%=yesno(rep.confirmed?)%></td>
      <td><%=submission_date(rep)%></td>
      <td>
        <td><%report_collection_links(rep)%> </td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%=new_resource_link%>

